---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import CTA from "../components/CTA.astro";
import FeatureList from "../components/FeatureList.astro";
import Team from "../components/Team.astro";
import Timeline from "../components/Timeline.astro";
import data from "../data/site.json";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---
<Layout title={data.siteName}>
  <main>
    <Nav />
    <Header />
    <Timeline />
    <FeatureList />
    <Team />
    <CTA />
    <Footer />
  </main>
</Layout>

